:root{
    --fundoheader: #1F2924;
    --letras: #41ad4e;
    --fundotexto: #A4ADA7;
    --larguraside: 100%;
    --alturaside: 100vh;
    --letras2: #828C8C;
    
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
header{
    background-color: var(--fundoheader);
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
}
.aside{
    background: url('https://media.tribunadointerior.com.br/2023/01/5abfa16c-utfpr-nova-2022-scaled.jpg') no-repeat center center fixed;
    width: var(--larguraside);
    height: var(--alturaside);
    
}
.amain{
    background: linear-gradient(to top, rgba(164, 173, 167, 1.5), rgba(164, 173, 167, 0.0)), url('https://media.tribunadointerior.com.br/2023/01/5abfa16c-utfpr-nova-2022-scaled.jpg') no-repeat center center fixed;
    width: var(--larguraside);
    height: var(--alturaside);
}
li{
    list-style: none;
}
a{
    color: var(--letras);
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;

}
.menu_Nav{
    display: flex;
    align-items: center;
    gap: 60px;
}
.link_nav{
    transition: 0.5s ease;
}
.link_nav:hover{
    color: white;
}
.barras{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--letras);
    transition: all 0.3s ease-in-out;
}
@media (max-width:768px){
    .barras{
        display: block;
    }
    .barras.active .bar:nth-child(2){
        opacity: 0;
    }
    .barras.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .barras.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu_Nav{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color:  rgb(2, 99, 10);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .item_nav{
        margin: 16px 0;
    }
    .menu_Nav.active{
        left: 0;
    }
}