:root{
    --fundoheader: #1f2924;
    --letras: #B03728;
    --fundotexto: #ECD0A2;
    --corClara: white;
    --larguraside: 100%;
    --alturaside: 100vh;
    --letras2: #828C8C;
    --fundoutfo: rgb(212, 191, 2);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.banner_img {
    mix-blend-mode: lighten;
    height:100%
  }
.banner_img_machado {
    mix-blend-mode: lighten;
    height:100%
  }
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--fundotexto);
 
}
header{
    background-color: var(--fundoheader);
    
}
.banner{
    background-color: var(--fundoheader);
    height: 130px;
    display: flex;
    justify-content: space-between;
}
.aside{
    
    background: url('https://media.tribunadointerior.com.br/2023/01/5abfa16c-utfpr-nova-2022-scaled.jpg') no-repeat center center fixed;
    background-size: cover;
    width: var(--larguraside);
    height: var(--alturaside);
    text-align: center;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #010101;
    font-size: 180%; color: #ffff04;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    flex-wrap: wrap;
}
.sumario{
    color: #010101;
}
.conteudo{
    background-color: var(--fundoutfo);
    width: var(--larguraside);
    height: var(--alturaside);
}
.h1_redondo{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 150px;
    display: inline-block;
    padding: 10px;
    
    
}
.p_redondo{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
}
.amain{
    background: linear-gradient(to top, rgba(212, 191, 2, 1.5), rgba(212, 191, 2, 0.0)), url('https://media.tribunadointerior.com.br/2023/01/5abfa16c-utfpr-nova-2022-scaled.jpg') no-repeat center center fixed;
    background-size: cover;
    width: var(--larguraside);
    height: var(--alturaside);
}
li{
    list-style: none;
}
a{
    color: var(--letras);
    text-decoration: none;
}
.navbar{
    position: sticky;
    background-color: var(--fundoheader);
    top: 0;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;

}
.menu_Nav{
    display: flex;
    align-items: center;
    gap: 60px;
}
.link_nav{
    transition: 0.3s ease;
}
.link_nav:hover{
    color:var(--corClara);
}
.barras{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--letras);
    transition: all 0.3s ease-in-out;
}
@media (max-width:768px){
    .banner_img_machado {
        width: 80%;
      }
    .barras{
        display: block;
    }
    .barras.active .bar:nth-child(2){
        opacity: 0;
    }
    .barras.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .barras.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu_Nav{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--fundoheader);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .item_nav{
        margin: 16px 0;
    }
    .menu_Nav.active{
        left: 0;
    }
}